@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

body {
  min-height: 100vh;
  min-width: 375px;
  font-family: Palanquin, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
